<div class="fh5co-content-inner text-center">
  <div class="row row-bottom-padded-sm">
    <div class="col-md-12">
      <figure>
        <img src="assets/images/profile_img.png" alt="Paulo Ariel Pareja Photo">
      </figure>
      <h1>Paulo Ariel Pareja</h1>
      <p>Pais de origen: <small>Argentino</small></p>
      <p>Fecha de nacimiento: <small>03 de Junio de 1984</small></p>
      <p>DNI: <small> 31009697</small></p>
      <p>CUIT: <small>20-31009697-1</small></p>
      <p>Telefono celular: <small>(011) 15 6962 0206</small></p>
      <p>Domicilio: <small>Moreto 620</small></p>
      <p>Localidad: <small>Capital Federal, Buenos Aires, Argentina</small></p>
    </div>
  </div>
  <app-social></app-social>
</div>