<hr />
<ul class="fh5co-social">
  <li>
    <a href="mailto:paulo.pareja@hotmail.es"><i class="icon-envelope"></i> Mail</a>
  </li>
  <li>
    <a
      href="https://legacy.alumni.education/publicprofile/207244/1/Paulo-Ariel-Pareja"
      ><i class="icon-book"></i
    > EducacionIT</a>
  </li>
  <li>
    <a href="https://github.com/Paulo-Ariel-Pareja" target="_blank"
      ><i class="icon-github-square"></i
    > GitHub</a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/paulo-ariel-pareja/" target="_blank"
      ><i class="icon-linkedin"></i
    > LinkedIn</a>
  </li>
</ul>
