<div id="fh5co-main">
  <div class="fh5co-tab-wrap">
    <ul class="fh5co-tab-menu">
      <li class="active"><a href="#" data-tab="1"><span class="icon icon-eye"></span><span class="menu-text">Acerca de mi</span></a></li>
      <li><a href="#" data-tab="2"><span class="icon icon-users"></span><span class="menu-text">Perfil</span></a></li>
      <li><a href="#" data-tab="3"><span class="icon icon-graduation-cap"></span><span class="menu-text">Educacion</span></a></li>
      <li><a href="#" data-tab="4"><span class="icon icon-certificate"></span><span class="menu-text">Cursos</span></a></li>
      <li><a href="#" data-tab="5"><span class="icon icon-black-tie"></span><span class="menu-text">Experiencia</span></a></li>
      <li><a href="#" data-tab="6" data-pie="yes"><span class="icon icon-fighter-jet"></span><span class="menu-text">Skills</span></a></li>
    </ul>
    <div class="fh5co-tab-content active" data-content="1">
        <app-yo></app-yo>
      </div>
    <div class="fh5co-tab-content" data-content="2">
      <app-perfil></app-perfil>
    </div>
    <div class="fh5co-tab-content" data-content="3">
      <app-educacion></app-educacion>
    </div>
    <div class="fh5co-tab-content" data-content="4">
      <app-cursos></app-cursos>
    </div>
    <div class="fh5co-tab-content" data-content="5">
        <app-experiencia></app-experiencia>
      </div>
    <div class="fh5co-tab-content" data-content="6">
      <app-skills></app-skills>
    </div>
  </div>
  <footer id="fh5co-footer">
    <app-footer></app-footer>
  </footer>
</div>
