<div class="fh5co-content-inner">
  <div class="row">
    <div class="col-md-12">
      <p>
        Niveles de conocimiento.
      </p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="70">
        <span><strong>HTML5</strong></span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="50">
        <span><strong>CSS3</strong></span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="40">
        <span><strong>Javascript</strong></span>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="85">
        <span><strong>MySql</strong></span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="30">
        <span><strong>MongoDB</strong></span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="65">
        <span><strong>Java</strong></span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="65">
        <span><strong>JavaFX</strong></span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="60">
        <span><strong>Spring Framework</strong></span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="60">
        <span><strong>Hibernate</strong></span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="60">
        <span><strong>JSF</strong></span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="65">
        <span><strong>JSP</strong></span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="85">
        <span><strong>Java</strong>Android</span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="65">
        <span><strong>Typescript</strong></span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="70">
        <span><strong>Angular 7</strong></span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="50">
        <span><strong>Ionic</strong></span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="85">
        <span><strong>VBA</strong></span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="75">
        <span><strong>Scrum</strong></span>
      </div>
    </div>
    
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="75">
        <span><strong>Cloud Computing</strong></span>
      </div>
    </div>
    
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="80">
        <span><strong>Firebase</strong></span>
      </div>
    </div>
        
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="70">
        <span><strong>Heroku</strong></span>
      </div>
    </div>
        
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="70">
        <span><strong>Google Analytics</strong></span>
      </div>
    </div>
  </div>
</div>
