<div class="fh5co-content-inner">
  <div class="row">
    <div class="col-md-12">
      <p>
        Niveles de conocimiento.
      </p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="70">
        <span><strong>HTML5</strong>teoria</span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="70">
        <span><strong>HTML5</strong>uso</span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="50">
        <span><strong>CSS3</strong>teoria</span>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="50">
        <span><strong>CSS3</strong>uso</span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="60">
        <span><strong>Javascript</strong>teoria</span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="40">
        <span><strong>Javascript</strong>uso</span>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="85">
        <span><strong>MySql</strong>teoria</span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="85">
        <span><strong>MySQL</strong>uso</span>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="30">
        <span><strong>MongoDB</strong>teoria</span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="20">
        <span><strong>MongoDB</strong>uso</span>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="65">
        <span><strong>Java</strong>teoria</span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="70">
        <span><strong>Java</strong>uso</span>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="65">
        <span><strong>JavaFX</strong>teoria</span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="70">
        <span><strong>JavaFX</strong>uso</span>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="65">
        <span><strong>Spring Framework</strong>teoria</span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="60">
        <span><strong>Spring Framework</strong>uso</span>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="65">
        <span><strong>Hibernate</strong>teoria</span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="60">
        <span><strong>Hibernate</strong>uso</span>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="60">
        <span><strong>JSF</strong>teoria</span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="60">
        <span><strong>JSF</strong>uso</span>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="65">
        <span><strong>JSP</strong>teoria</span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="65">
        <span><strong>JSP</strong>uso</span>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="85">
        <span><strong>Java (Android)</strong>teoria</span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="85">
        <span><strong>Java (Android)</strong>uso</span>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="65">
        <span><strong>Typescript</strong>teoria</span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="70">
        <span><strong>Typescript</strong>uso</span>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="65">
        <span><strong>Angular 7</strong>teoria</span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="70">
        <span><strong>Angular 7</strong>uso</span>
      </div>
    </div>
    
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="50">
        <span><strong>Ionic</strong>teoria</span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="50">
        <span><strong>Ionic</strong>uso</span>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="85">
        <span><strong>VBA</strong>teoria</span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="85">
        <span><strong>VBA</strong>uso</span>
      </div>
    </div>
    
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="75">
        <span><strong>Scrum</strong>teoria</span>
      </div>
    </div>
    
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="75">
        <span><strong>Cloud Computing</strong>teoria</span>
      </div>
    </div>
    
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="80">
        <span><strong>Firebase</strong>teoria</span>
      </div>
    </div>
        
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="70">
        <span><strong>Heroku</strong>teoria</span>
      </div>
    </div>
        
    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
      <div class="chart" data-percent="70">
        <span><strong>Google Analytics</strong>teoria</span>
      </div>
    </div>
    


  </div>
</div>
