<div class="fh5co-content-inner text-center">
    <div class="row row-bottom-padded-sm">
      <div class="col-md-12">
        <figure>
          <img src="assets/images/profile_img.png" alt="Paulo Ariel Pareja Photo">
        </figure>
        <h1>Paulo Ariel Pareja</h1>
        <p><small>Argentino, de la ciudad de Buenos Aires.</small></p>
        <p>Soy una persona inquieta, me gusta aprender y perfeccionar mis conocimientos en todos los ámbitos.</p>
        <p>Eterno aprendiz: busco capacitarme constantemente en las áreas que dependen mi trabajo, buscando nuevas alternativas y mejores prácticas para que las personas que utilizan mis proyectos obtengan mejores resultados.</p>
        <p>Me gustan los desafíos y mi objetivo es poder profesionalizarme en el ámbito del desarrollo de software.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 fh5co-counter">
        <div class="fh5co-number fh5co-left">+2</div>
        <div class="fh5co-text">
          <h3 class="border-bottom">Años de experiencia formal como desarrollador en mi actual empleo.</h3>
          <!-- <p>...</p> -->
        </div>
      </div>
    </div>
    <app-social></app-social>
  </div>